<div class="container">
  <form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <h1>Angular Forms</h1>

    <div class="form-control">
      <label>Email</label>
      <input type="text" placeholder="Email" formControlName="email">
      <!--      <pre>{{form.get('email')?.errors | json}}</pre>-->
      <div class="validation"
           *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
      >
        <small *ngIf="form.get('email')?.errors?.required">Поле email не может быть пустым</small>
        <small *ngIf="form.get('email')?.errors?.email">Введите корректный email</small>
      </div>
    </div>

    <div class="form-control">
      <label>Пароль</label>
      <input type="password" placeholder="Пароль" formControlName="password">
      <!--      <pre>{{form.get('password')?.errors | json}}</pre>-->
      <div class="validation"
           *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
      >
        <small *ngIf="form.get('password')?.errors?.required">Поле password не может быть пустым</small>
        <small
          *ngIf="form.get('password')?.errors?.minlength">Введено {{ form.get('password')?.errors?.minlength?.actualLength }}
          из {{ form.get('password')?.errors?.minlength?.requiredLength }}</small>
      </div>
    </div>

    <div class="card" formGroupName="address">
      <h2>Адрес</h2>

      <div class="form-control">
        <label>Страна</label>

        <select formControlName="country">
          <option value="ru">Россия</option>
          <option value="ua">Украина</option>
          <option value="by">Беларусь</option>
        </select>
      </div>

      <div class="form-control">
        <input type="text" formControlName="city" placeholder="City">
      </div>

      <button type="button" class="btn" (click)="setCapital()">Выбрать столицу</button>
    </div>

    <div class="card">
      <h2>Ваши навыки</h2>
      <button type="button" class="btn">Добавить умение</button>
      <div class="form-control">
        <label></label>
        <input type="text">
      </div>
    </div>

    <button type="submit" class="btn" [disabled]="form.invalid">Отправить</button>

  </form>
</div>
